/* FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body{
    font-family: 'Yeseva One', cursive;
    text-transform: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D2C2F0;
}

h2{
    position: relative;
    font-size: 14vw;
    color: #D2C2F0;
    -webkit-text-stroke: 0.2vw #DDFA48;
}

h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #DDFA48;
    -webkit-text-stroke: 0vw #b79fe4;
    border-right: 2px solid #DDFA48;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}