/* FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body{
    font-family: 'Yeseva One', cursive;
    text-transform: none;
}

.bgA{
    background-color: #D2C2F0;
    padding: 10vw;
}

.bg1{
    background-color: #D2C2F0;
    padding: 3vw;
}

.text1{
    font-size: 8rem;
    color: #DDFA48;
    text-align: left;
    padding: 2rem;
}

.text2{
    font-size: 8rem;
    color: #DDFA48;
    text-align: right;
    padding: 2rem;
}

.bgThatyouDont{
    background-color: #D2C2F0;
    padding: 18rem 2rem 0rem 2rem;
}

.ThatyouDont {
    font-size: 8rem;
    text-align: right;
    color: #DDFA48;
    display: inline-block;
    width: 300px;
    height: 700px;
    margin: 20px;
    padding: 10px;
    }

.badbone {
    font-size: 17rem;
    text-align: center;
    transform: rotate(270deg);
    color: #151730;
    width: 14rem;
    height: 16rem;
    padding: 1rem;
    display: inline-block;
    
    }

.ThatyouDont {
    font-size: 8rem;
    text-align: right;
    color: #DDFA48;
    display: inline-block;
    width: 300px;
    height: 22rem;
    margin: 20px;
    padding: 1rem;
    }


.butTheBruise{
    font-size: 10rem;
    text-align: right;
    color: #DDFA48;
    padding-top: 5rem;
    padding-left: 20rem;
    padding-right: 8rem;
}

.Ego{
    font-size: 30rem;
    text-align: center;
    color:#151730;
    position: relative;
    top: -8rem;
    left: 8rem;
}

.MakeYouGo{
    font-size: 8rem;
    text-align: right;
    color:#DDFA48;
    display: inline-block;
    width: 22rem;
    height: 30rem;
    position: relative;
    top: -14rem;
}

.bgWild{
    background-color: #151730;
    overflow: hidden;
}
.wild{

    font-size: 12rem;
    text-align: right;
    color:#DDFA48;
    overflow: hidden;
    transform: rotate(330deg);
    position: relative;
    left: 2rem;
}
.bgwannaBelieve{
    background-color:#D2C2F0;
    height: 70rem;
    overflow: hidden;
}

.wannaBelieve{
    font-size: 28rem;
    text-align: center;
    line-height: 20rem;
    color: #DDFA48;
    top: -6rem;
    position: relative;
}

.bgstoneCold{
    background-color: #151730;
}

.blurtest{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}