/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');

body{
    background-color: #2F323A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.link:hover{
    color: #B4EBCA;
}

.titel{
    font-size: 100px;
    color: #b1d0ff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.buttons{
    padding-top: 100px;
    text-align: center;
    text-transform: uppercas;
    font-size: 30px;
}

.knoepfe{
    border-radius: 12px;
    padding: 15px 50px;
    margin: 20px;
    color: #2F323A;
    position: relative;
    display: inline-block;
}

.knoepfe:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 4px 8px 0px 0px rgb(158, 158, 158);
  }


.day {
    background-color: #bdb2ff;
    box-shadow: 4px 8px 0px 0px #858cc5;
  }
  
.day:hover {
    background-color: #D3D5EB;
  }
  
.sprint{
  background-color: #60dd5c;
  box-shadow: 4px 8px 0px 0px #3fac3b;
}

.sprint:hover {
  background-color: #aaf1a8;
}

p {
    text-align: center;
    color: #b1d0ff;
    padding-top: 100px;
    
}