@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body{
    font-family: 'Shizuru';
}


h1{
    color: aqua;
}

.specialclass{
    color: gold;
}


p1{
    font-family: 'Redressed';
    color: chocolate !important;
    font-size: 12px;
}

#lalala{
    text-align:end;
    font-family: "AvenirNextLT";
    font-size: 20px;
}

@font-face {
    font-family: "AvenirNextLT";
    src: url(AvenirNextLTPro-DemiCn.otf);
}